@import './Base.module.scss';

.navbar {
  border-bottom: 1px solid $outline-color;
  // box-shadow: 0px 0 1px 1px $primary-color;
  height: $navbar-height;
}

.navbar > .items {
  height: inherit;
  display: flex;
  // justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.fa-item-add {
  background-color: $primary-dark;
  margin-right: 20px;
  font-size: 30px;
  width: 60px;
}

.fa-item-home {
  background-color: $primary-dark;
  margin-left: 20px;
}

.fa-item-add:hover, .fa-item-home:hover {
  background-color: rgb(40, 146, 63) !important;
  cursor: pointer;
  color: rgb(236, 236, 236);
}


.items-center {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.items-right-icon {
  font-size: 28px;
  color: $primary-color;
}

.fa-items-right > .fa-item {
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 28px;
}
