@import './Base.module.scss';

.sidebar {
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $primary-color;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-copy-button {
  margin-left: 10px;
}

.sidebar-copy-button:hover {
  cursor: pointer;
}

.sidebar-data {
  display: flex;
  flex-direction: column;
  line-height: 0;
  color: $sidebar-accent-text-color;
  margin-top: 60px;
}

.sidebar-account-bal {
  margin-top: 9px;
}

.sidebar-account-bal-text {
  color: rgb(80, 233, 113);
  font-weight: bold;
}

.sidebar-polls {
  margin-top: 28px;
}

.sidebar-poll-count {
  color: $primary-color;
  font-weight: bold;
  font-size: 36px;
  margin-top: 10px;
}

.sidebar-poll-item {
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
}

.sidebar-divider {
  border: 1px solid $primary-color;
  margin: 0em 0 0 0;
  padding: 0;
  width: calc($sidebar-width - 45px);
}

.sidebar-info {
  color: $primary-color;
  position: absolute;
  bottom: 0;
}

.sidebar-info > p {
  text-align: center;
}

.sub-heading {
  text-align: left !important;
}

.heading-text {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
}

.wallet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Define styles for the airdrop button */
.airdrop-button {
  background-color: $primary-dark !important;
  height: 30px;
  font-size: 14px;
  color: $primary-color;
  transition: background-image 0.3s ease-in-out;
  cursor: pointer;
  border: none;

  &:hover {
    background-image: linear-gradient(to right, #14F195, #9945FF);
    color: rgb(236, 236, 236);
  }

  &.loading {
    background-image: linear-gradient(to right, #14F195, #9945FF);
    color: rgb(236, 236, 236);
    cursor: not-allowed; /* Optional: Change cursor for loading state */
  }
}

/* Define styles for the loading state (you can reuse the existing .loading class) */
.loading {
  background-image: linear-gradient(to right, #14F195, #9945FF);
  color: rgb(236, 236, 236);
  cursor: not-allowed; /* Optional: Change cursor for loading state */
}

.wallet-button {
  background-color: $primary-dark !important;
  height: 42px !important;

  &:hover {
    background-image: linear-gradient(to right, #14F195, #9945FF) !important;
    cursor: pointer;
    color: rgb(236, 236, 236);
  }
}

.wallet-button-disconnect {
  background-color: $primary-dark !important;
  height: 42px !important;
}

.wallet-button-disconnect:hover {
  background-color: rgb(218, 62, 62) !important;
  cursor: pointer;
  color: rgb(236, 236, 236);
}

.program-id a {
  font-size: 14px;
  color: $primary-color;
  text-decoration: underline;
  line-height: 20px;

  &:hover {
    color: #25fa1e; /* Change this to your desired hover color */
  }
}